@import "../../data/styles.css";

.read-article-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
}

.read-article-logo {
	display: flex;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 4vh;
}

.read-article-container {
	display: flex;
	height: 100%;
	margin: 0;
	padding-top: 120px;
	justify-content: center;
}

.read-article-back {
	padding-top: 68px;
	padding-right: 50px;
	width: 40px;
	height: 40px;
}

.read-article-back-button {
	width: 50px;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.read-article-wrapper {
	width: 80%;
	padding-top: 30px;
}

.read-article-info-container {
	border-left: 2px solid var(--quaternary-color);
	color: #595959;
	font-size: 16 px;
	align-items: center;
	margin-bottom: 20px;
}

.read-article-date {
	font-family: var(--primary-font);
	padding-left: 15px;
	padding-bottom: 6px;
	font-weight: 500;
}

.read-article-title {
	padding-top: 50px;
	padding-bottom: 20px;
	width: 100% !important;
}

.read-article-body {
	padding-bottom: 50px;
	font-size: 16px;
	line-height: 30px;
	font-family: system-ui;
	color: #52525b;
}

.read-article-body .project-description {
	margin-top: 16px;
	background: #f1f3f5;
	padding: 30px;
	border-radius: 20px;
}
.article-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

* {
	font-family: Pretendard !important;
}

.randImage {
	align-self: center;
	outline: 2px solid red;
}

.project-link {
	display: flex;
	align-items: center;
	color: var(--secondary-color);
	font-size: 12px;
	padding-top: 20px;
}

.project-link-icon {
	padding-left: 5px;
	font-size: 16px;
	font-weight: 600;
	text-decoration-line: yellow;
}

.project-image {
	width: 100%;
	margin-bottom: 10px;
}
.architecture-image {
	width: 100%;
}

@media (max-width: 768px) {
	.read-article-wrapper {
		width: 100%;
	}
}

.popping-link {
	padding-left: 5px;
	font-size: 16px;
	font-weight: 500;
	text-decoration-line: none;
	color: #52525b;
	display: inline;
	box-shadow: inset 0 -10px 0 #d6f0ff;

	&:hover {
		color: #6cb5f9;
		transition: color 0.3s ease-in-out;
	}
}

.eara-link {
	padding-left: 5px;
	font-size: 16px;
	font-weight: 500;
	text-decoration-line: none;
	color: #52525b;
	display: inline;
	box-shadow: inset 0 -10px 0 #e8fd8b;

	&:hover {
		color: #cbf58c;
		transition: color 0.3s ease-in-out;
	}
}

.read-article-body ul {
	padding-left: 20px; /* 기본적인 들여쓰기 조절 */
	margin-left: 0; /* 왼쪽 마진 제거 */
	margin-top: 0px;
	margin-bottom: 0px;
}
