.all-stack-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	padding-top: 30px;
	padding-bottom: 10px;
}

.stack-container {
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	padding-bottom: 24px;
}

@media (max-width: 600px) {
	.stack-container {
		width: 100%;
		display: block;
	}

	.stack-title {
		width: 100%;
	}

	.stacklist {
		margin-top: 10px;
		width: 100%;
	}
}

.stack-title {
	min-width: 30%;
	max-width: 20%;
	font-size: 20px;
	font-weight: 500;
}

.stack-name {
	box-shadow: inset 0 -10px 0 #fffebd;
}
.stacklist {
	flex-basis: 80%;
	min-width: 700px;
	mix-blend-mode: normal;
	font-size: 16px !important;
	line-height: 28px;
}
